 <div class="d-flex">
        <form action="/admin/notificationedit" method="POST">
           <button class="btn btn btn-primary mx-2" name="id" value={{this._id}}  type="submit">Edit</button>
          </form>
          <form action="/admin/complaindelete" method="POST">
           <button class="btn btn-secondary" name="id" value={{this._id}}  type="submit">delete</button>
          </form>
          </div>