 <section  class="container  text-white">

            <form class="form form-control my-4 imageform" action="/payment" method="POST"> 
              <div class="col-md-12">
           <label for="jambreg" class="form-label">JAMB REGISTRATION NUMBER</label>
           <input type="text" class="form-control" name="jamereg" placeholder="Enter Your Jamb registration number" aria-label="First name">
            </div>
            <div>
                    <label class="program" for="mat">YEAR</label>
                    <select class="form-control "  name="years" id="level">
                        <option value="year13">2013</option>
                        <option value="year14">2014</option>
                        <option value="year15">2015</option>
                        <option value="year16">2016</option>
                        <option value="year17">2017</option>
                        <option value="year18">2018</option>
                        <option value="year19">2019</option>
                        <option value="year20">2020</option>
                        <option value="year21">2021</option>
                      </select>
                </div>
              
                <div>
                    <label class="program" for="mat">MEANS OF COMMUNICATION</label>
                    <select class="form-control level" name="meanscom" id="level">
                        <option value="email">EMAIL</option>
                        <option value="whatsapp">WHATSAPP</option>
                        <option value="sms">SMS</option>
                      </select>
                </div>
                <div class="col-md-12">
           <label for="jambreg" class="form-label">WHATSAPP/SMS/EMAIL</label>
           <input type="text" class="form-control" name="detailform" placeholder="Enter Your WHATSAPP/SMS/EMAIL" aria-label="First name">
            </div>
                <button type="submit" style="opacity: 1;background-color:black;font-weight:700" class="my-3 form-control text-white  btn btns">CLICK TO CHECK</button>
            </form>

    
    </section>
    