<section>
 <section class=" d-flex mt-1">
    <div class="container-fluid p-0 position-relative">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../jamb.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption " >
                  <h5>{{> Click}}</h5>
                </div>
              </div>
             
              
             
           
            
          </div>

    </div>
</section>


{{> jambregularization}}














  
</section>




   







  
