{{> SideBar}}

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
{{> Nav}}
		<!-- NAVBAR -->

		
		<!-- MAIN -->
		<main>
	
		{{> notsubmain}}
		<section class="container">
        <div >
            <form class="form form-control my-4"  action="/admin/notification" method="POST">
            
                <div>
                    <label for="name">MESSAGE</label>
                    <textarea type="text" class="form-control"  placeholder="enter your message" name="message"></textarea>
                </div>
                <div>
                    <label for="name">TITLE</label>
                    <textarea type="text" class="form-control"  placeholder="enter your message" name="message"></textarea>
                </div>
               

                <div>
                 <label for="date">TIME OF POSTING</label>
                 <input type="date" name="time" class="form-control ">
                </div>
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>
        </div>
    </section>

    {{> notificationN}}
	

		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
