<section class="container">
    <div>
        <h1 style="text-align: center;">INSTRUCTION ON THE PAYMENT</h1>
        <h1 style="font-weight: bold;">FEES:#200</h1>
        <h3>Payment account number:<span style="font-family:'Times New Roman', Times, serif;font-weight:700">7031567727</span> Bank Name:OPAY.
        When doing the payment you are to use your jamb registeration number as your comment/payment remark</h3>
        <p><span style="font-weight: bold;">NOTE</span>:With the jamb registeration number we can not confirm your payment and if payment is not made before 30 minute, the submittion is not valid.you will get feedback in less than two hours </p>
    </div>
</section>
<div class="container my-2" style="text-align: center;" >
    <a href="/"  >
<button type="button" class="btn btn-primary">CLICK TO HOME PAGE</button>
</a>
</div>